<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>404 Not Found</title>
  <link rel="stylesheet" href="/css/notFound.css">
  <style>
    
  </style>
</head>
<body>
  <h1 id="error-code">404</h1>
  <p>Oops! Page not found.</p>
  <a id="home-link" href="/">Go Back Home</a>

  <script>
    // Fade in the button after 1 second
    window.addEventListener('DOMContentLoaded', () => {
      setTimeout(() => {
        document.getElementById('home-link').classList.add('fade-in');
      }, 1000);
    });
  </script>
</body>
</html>
